@use "variables";
@use "mixins";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: variables.$font;
    color: variables.$darkblue;
    background-color: variables.$white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.home-section {
    background: variables.$gradient;
    padding: variables.$global-padding;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > img {
            width: 10%;
            margin-right: 2%;
        }


    }
}

.nav {
            
    &__list {
        list-style: none;
        display: flex;
        gap: 35%;
    }
    &__link {
        text-decoration: none;
        font-weight: 700;
        font-size: variables.$font-size;
        color: variables.$darkblue;
    }
}

.search {
    display: flex;
    align-items: center;
    border-radius: variables.$radius;
    justify-content: flex-start;
    background-color: variables.$white;
    gap: .7rem;
    padding-left: 1rem;
    margin-left: 20%;
    
    &__icon {
        color: variables.$gray;
        width: 25px;
    }
    
    &__input {
        border-radius: variables.$radius;;
        background-color: variables.$white;
        padding: 1rem 5rem 1rem .5rem;
        border: none;
        font-size: variables.$font-size;

        &::placeholder {
            font-weight: 500;
            color: variables.$lightgray;
        }
    }
}

.login-btn {
    margin-left: -2%;
    @include mixins.btn-primary(1rem 5rem);
}

.hero {
    display: flex;
    overflow: hidden;

    &__img {
        width: 145%;
        transform: translateX(15%);
    }

    &__right {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 50%;
    }
    
    @include mixins.infos-buttons(flex-start);

}

.dogs-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;  
    padding: variables.$global-padding;
    width: 100%;

    &__list {
        list-style: none;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        padding: 2rem 0 0 0;
    }

    &__elt {
        box-shadow: 0px 2.39px 16.76px -1.2px #00000014;
        border-radius: 7px;
        padding: .5rem;
        width: 100%;

        > img {
            width: 100%;
            border-radius: 6px;
            margin-bottom: 1rem;
        }
    }
    
    &__infos {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: .5rem;
        padding: 0 1rem;
        font-weight: 700;
        color: variables.$black;



        &__p-first {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            font-weight: 500;
            color: variables.$gray;

            span {
                font-weight: 700;
            }

            img {
                width: 7px
            }
        }

    }
}

.heading {
    @include mixins.heading;
}

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    background: variables.$gradient;
    border-radius: variables.$radius - 20px;
    margin: variables.$global-padding;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-right: 2rem;

    @include mixins.infos-buttons(flex-end);
    
}

.dogs-articles {
    width: 100%;
    padding: variables.$global-padding;
    margin-bottom: 10rem;

    padding: variables.$global-padding;
    width: 100%;
    
    &__list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        padding: 2rem 0 0 0;
    }

    &__elt {
        box-shadow: 0px 2.39px 16.76px -1.2px #00000014;
        border-radius: 7px;
        padding: .5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: .7rem;

        > img {
            width: 100%;
            border-radius: 6px;
            margin-bottom: 1rem;
        }
        small, h3, p {
            margin-inline: 1rem;
            
        }
        p {
            margin-bottom: 1rem;
        }
    }

    &__small {
        background-color: variables.$bluesea;
        padding: .4rem .6rem .5rem .6rem;
        color: variables.$white;
        border-radius: variables.$radius;
    }
}