$darkblue: #003459;
$monyellow: #F7DBA7;

$pinkred: #FF564F;
$greenlight: #34C759;
$orangeshine: #FF912C;
$bluesea: #00A7E7;

$black: #00171F;
$darkgray: #242833;
$gray: #667479;
$lightgray: #99A2A5;
$lightergray: #CCD1D2;
$lightestgray: #EBEEEF;
$white: #FDFDFD;